<header class="header fixed-top">

@*            <nav class="navbar  navbar-expand-lg navbar-light" style="background-color: bisque; padding: 5px">
                <a class="navbar-brand" href="#">MoodBook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">

                  <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="" aria-hidden="true"></span> Главная
                    </NavLink>

                    <NavLink class="nav-link" href="/Books" Match="NavLinkMatch.All">
                        <span class="" aria-hidden="true"></span> Каталог
                    </NavLink>

                    <NavLink class="nav-link" href="/Authors" Match="NavLinkMatch.All">
                        <span class="" aria-hidden="true"></span> Авторы
                    </NavLink>

                    <NavLink class="nav-link" href="/Publishers" Match="NavLinkMatch.All">
                        <span class="" aria-hidden="true"></span> Издательства
                    </NavLink>
                </div>
            </nav>*@
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: bisque; padding: 5px">
                <a class="navbar-brand" href="#">MoodBook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href='/Books'>Каталог <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='/Authors'>Авторы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='/Publishers'>Издательства</a>
                        </li>

                    </ul>
                </div>
            </nav>

 </header>




@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
