@page "/Authors"
@using Blazor.Components.AuthorsList


<PageTitle>Authors</PageTitle>


<AuthorsList/>

<div class="row">
    <div class="col-md-9 "> </div>
    <div class="col-md-2">
        <a href="/author/create">
        <div class="add_author" >Создать</div>
        </a>
    </div>
    <div class="col-md-1 "> </div>
</div>
