.break {
    flex-basis: 100%;
    height: 40px;
}

.break-min {
    flex-basis: 100%;
    height: 10px;
}

h3 {
    text-align: center;
}

.input-label, .content-label {
    font-size: 20px;
    margin-bottom: 10px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #fafafa;
    border-radius: 7px;
    width: 100%;
    margin-bottom: 30px;
}

.input-title {
    background-color: antiquewhite;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
}

.add_author {
    cursor: default;
    border-radius: 10px;
    background-color: darkgray;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 200%;
    width: 100%;
    transition: .3s;
}

    .add_author:hover {
        box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
        transition: .3s;
    }

