@page "/"
<!DOCTYPE html>
<html>




<div class="container">
    <div class="break"></div>
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <div class="h1-main">
                <h1>Рады приветсвовать вас на MOODBOOK</h1>
            </div>
        </div>
            <div class="col-md-2"> </div>
        </div>
            

    <div class="break"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7">

        </div>
        <div class="col-md-5">
            <figure>
                <blockquote class="blockquote">
                    <p>Свобода существует затем, чтобы ходить в библиотеку.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    И. Бродский <cite title="Source Title">"Observer", 25 октября 1981 года</cite>
                </figcaption>
            </figure>
        </div>
        <div class="break"></div>
    </div>
 
            

</div>



</html>
