@page "/Publishers"
@using Blazor.Components.PublishersList


<PageTitle>Publishers</PageTitle>


<PublishersList/>

<div class="row">
    <div class="col-md-9 "> </div>
    <div class="col-md-2">
        <a href="/publisher/create">
        <div class="add_author" >Создать</div>
        </a>
    </div>
    <div class="col-md-1 "> </div>
</div>